<div class="my-card">
  <div class="col-12">
    <div class="row">
      <div class="col-4 my-card-image">
        <img class="custom-image img-fluid" src="assets/img/prato.png" alt="restaurante" />
      </div>
      <div class="col-8">
        <div class="float-right mt-2 rating">
          <a (click)="adicionarPonto()">
            <i class="fa fa-star"></i>
            {{restaurante.nota}}
          </a>
        </div>
        <p class="my-card-title">{{restaurante.nome}}</p>
        <p [innerHtml]="restaurante.descricao"></p>
        <p [innerHtml]="restaurante.distancia"></p>
      </div>
    </div>
  </div>
</div>