<form #form="ngForm" (ngSubmit)="salvar()">
  <div class="form-group">
    <label>Nome*</label>
    <input type="text" #nome="ngModel" required name="nome" [(ngModel)]="restaurante.nome" class="form-control" />
    <span *ngIf="nome.dirty && nome.invalid" class="required">O campo Nome é obrigatório</span>
  </div>
  <div class="form-group">
    <label>Descrição*</label>
    <input type="text" #descricao="ngModel" required name="descricao" [(ngModel)]="restaurante.descricao" class="form-control" />
    <span *ngIf="descricao.dirty && descricao.invalid" class="required">O campo Descrição é obrigatório</span>
  </div>
  <div class="form-group">
    <label>Distância*</label>
    <input type="text" #distancia="ngModel" required name="distancia" [(ngModel)]="restaurante.distancia" class="form-control" />
    <span *ngIf="distancia.dirty && distancia.invalid" class="required">O campo Distância é obrigatório</span>
  </div>
  <div>
    <button type="submit" [disabled]="form.invalid"  class="btn btn-success btn-block">Gravar</button>
  </div>
</form>