<h1>{{pessoa | json}} </h1>

<ul>
  <li *ngFor="let pessoa of pessoas">Nome: {{pessoa.nome}} idade: {{pessoa.idade}}</li>
</ul>


<p>Soma das Idades: {{somaIdades}}</p>


<p>{{grupo | json}}</p>

<p>Personagens Masculinos</p>
<ul>
  <li *ngFor="let personagem of grupo.masculino">{{personagem.nome}}</li>
</ul>

<p>Personagens Femininos</p>
<ul>
  <li *ngFor="let personagem of grupo.feminino">{{personagem.nome}}</li>
</ul>


<input type="text" name="nome" [(ngModel)]="nome"/><button (click)="filtrarPersonagens()">Buscar</button>
<ul>
  <li *ngFor="let personagem of nomesPersonagens">Nome: {{personagem }}</li>
</ul>

